<app-layout [title]="'Customers'">
  <div class="col-12 row py-3 border-bottom mx-0 px-0">
    <h2 class="col-6">Clients {{customers?.size}}</h2>
    <div class="col-6 text-right ">
      <button class="btn btn-info" (click)="openAddModal()">
        <i class="mdi mdi-plus"></i> Ajouter un client
      </button>
    </div>
  </div>

  <div class="col-12 row px-0 my-3">
    <div class="col-4">
      <app-customer-search (choose)="navigate($event)"></app-customer-search>
    </div>

  </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Numéro national</th>
      <th scope="col">Téléphone</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.surname}}</td>
      <td>{{customer.nationalId}}</td>
      <td>{{customer.phoneNumber | phone}} </td>
      <td>
        <button class="btn btn-outline-info btn-sm" [routerLink]="['/customers', customer.id, 'home']">Voir</button>
      </td>
    </tr>
    </tbody>
  </table>


</app-layout>
