

body, html {
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color:red;
  height: 100%;
}

.container-fluid {
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color:red;
}

.bg-light {
  background-color: #FFF !important;
}

.btn, .form-control, button {
  outline: 0 !important;
}

.btn.active.focus, .btn.active:focus,
.btn.focus, .btn.focus:active,
.btn:active:focus, .btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

.form-control.active.focus, .form-control.active:focus,
.form-control.focus, .form-control.focus:active,
.form-control:active:focus, .form-control:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

.form-group > * {
  width: 100%;
}

input.ng-dirty.ng-invalid {
  border-color: #e81b58;
}

input.ng-dirty.ng-valid {
  border-color: #00af60;
}

.line-h-50 {
  line-height: 50px;
}

.h-50 {
  height: 50px;
}
