$theme-colors: (
  "warning": #ff6d37,
  "primary": #06133B,
  "info": #1da1f2,
  "danger": #e81b58,
  "success": #00CB70,
  "dark": #282D31
);

$font-family-sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$btn-font-family:  "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$headings-font-family: "lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$link-color: #1CC4E8;



$small-font-size: 12px;

