<app-layout [title]="'Clients - ' + customer?.name ">
  <div class="col-12 border-bottom " style="font-size: large">
    <button class="btn" (click)="back()">
      <i class="mdi mdi-arrow-left mdi-24px"></i>
    </button>

    <a routerLink="/customers/list">Customers</a> /
    {{customer?.name }}
  </div>

  <div class="col-12 row mt-3">
    <div class="col-4">
      <img [src]="customer?.image" alt="" class="img-fluid">
    </div>
    <div class="col-6">
      <h1 class="font-weight-bold">{{customer.name}} {{customer.surname}}</h1>
      <div class="col-12 px-0 mt-4">
        <h5>Numéro de téléphone</h5>
        <h4 class="font-weight-bold">{{customer.phoneNumber | phone}}</h4>
      </div>

      <div class="col-12 px-0 mt-4">
        <h5>Numéro d'identité</h5>
        <h4 class="font-weight-bold">{{customer.nationalId | phone}}</h4>
      </div>

      <div class="col-12 px-0 mt-5">
        <button class="btn btn-outline-info" (click)="openEditModal()">
          <i class="mdi mdi-pen"></i> Modifier ce client
        </button>
        <button class="btn btn-outline-danger ml-3" (click)="openDeleteModal()">
          <i class="mdi mdi-delete-forever"></i> Supprimer ce client
        </button>
      </div>

    </div>
  </div>

  <h2 class="my-3">Achats du clients</h2>

  <app-order-tab [orders]="orders"></app-order-tab>

</app-layout>
