<div class="col-12 row px-0">
  <div class="col-3">
    <h5 class="col-12">Nombre d'article</h5>
    <h3 class="col-12 text-info">{{order.size}}</h3>
  </div>

  <div class="col-3">
    <h5 class="col-12">Quantité total</h5>
    <h3 class="col-12 text-info">{{order.itemCount}}</h3>
  </div>

  <div class="col-6">
    <h5 class="col-12">Prix total</h5>
    <h3 class="col-12 text-info">{{order.price | price}}</h3>
  </div>
</div>
<table class="table table-striped text-right mt-3">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom</th>
    <th scope="col">Reference</th>
    <th scope="col">Quantité</th>
    <th scope="col">Prix unitaire</th>
    <th scope="col">Prix total</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let item of order; let i = index">
    <td>{{i}}</td>
    <td>{{item.article.name}}</td>
    <td>{{item.article.reference}}</td>
    <td>
      {{ item.quantity }}
    </td>
    <td>{{item.price}}</td>
    <td>{{item.totalPrice | price}} </td>

  </tr>
  </tbody>
</table>
